
.body-shift{
    margin-right: 7.5% !important;
    margin-left: 7.5% !important;
    padding-top: 0.5% !important;
}

.navbar-shift {
    padding-left: 5% !important;
    padding-right: 5% !important;
    padding-top: 0.5% !important;
}

