<!DOCTYPE html>
<html th:fragment="html" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<html lang="en">

<head th:fragment="head">
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{../static/style.css}"/>
</head>

<body>

    <nav th:fragment="navigationBar" class="navbar navbar-expand-lg bg-body-tertiary navbar-shift">
      <div class="container-fluid">

        <div class="navbar-brand">
          <span th:text="'Studenckie Karty'"> </span>
          <!--                    <a class="navbar-brand" th:href="@{/}">Studenckie Karty</a>-->
        </div>

        <div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/nav/v1/home}" th:text="'Home'"></a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/nav/v1/games}" th:text="'Games'"></a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/nav/v1/ranking}" th:text="'Ranking'"></a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/nav/v1/myProfile}" th:text="'Profile'"></a>
              </li>

              <li>
                <div>
                  <form class="form-inline d-flex" th:action="@{/nav/v1/userSearch}" method="get">
                    <input class="form-control mr-sm-2" type="text" id="nicknameInput" name="nickname" placeholder="User search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" th:text="'Search'"></button>
                  </form>
                </div>
              </li>

              <li>
                <div sec:authorize="isAuthenticated()">
                  User: <strong th:text="${#strings.equals(#authentication.getName(), 'anonymousUser') ? 'anonymousUser' :#authentication.getName()}"></strong>

                  <script>
                    function getBalanceFromPrincipal(principalElement) {
                      let text = principalElement.getAttribute('data-principal');
                      let startIndex = text.indexOf('balance=') + 'balance='.length;
                      let endIndex = text.indexOf(',', startIndex);
                      return text.slice(startIndex, endIndex);
                    }
                  </script>

                  <strong id="principal" th:attr="data-principal=${#authentication.getPrincipal()}"></strong>
                  <span id="balance"></span>

                  <script>
                    window.onload = function() {
                      let principalElement = document.querySelector('#principal');
                      let balance = getBalanceFromPrincipal(principalElement);
                      document.querySelector('#balance').innerText = 'Balance: ' + balance;
                    };
                  </script>
                </div>
              </li>

            </ul>

          </div>
        </div>

        <div class="justify-content-end">
          <div class="d-flex" sec:authorize="isAnonymous()">
            <div>
              <a class="text-decoration-none mx-1">
                <button type="button" class="btn btn-outline-primary text-sm-start" data-bs-toggle="modal" data-bs-target="#sign-in" th:text="'Sign in'"></button>
              </a>
            </div>
            <div>
              <a class="text-decoration-none mx-1">
                <button type="button" class="btn btn-outline-primary text-sm-start" data-bs-toggle="modal" data-bs-target="#sign-up" th:text="'Sign up'"></button>
              </a>
            </div>
          </div>

          <div class="d-flex" sec:authorize="isAuthenticated()">
            <a class="text-decoration-none mx-1" th:href="@{/logout}">
              <button type="button" class="btn btn-outline-primary text-sm-start" th:text="'Sign out'"></button>
            </a>
          </div>
        </div>


      </div>


      <div class="modal fade" id="sign-in" tabindex="-1" aria-labelledby="sign-in" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="sign-in-label" th:text="'Sign in to StudenckieKarty'"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-2">
                <form th:action="@{/login}" method="post">
                  <div>
                    <label for="username" class="form-label" th:text="'Username'"></label>
                    <input type="text" class="form-control" id="username" name="username" th:placeholder="'Username'">
                  </div>
                  <div>
                    <label for="password" class="form-label" th:text="'Password'"></label>
                    <input type="text" class="form-control" id="password" name="password" th:placeholder="'Password'">
                  </div>
                  <div class="d-flex mt-2">
                    <p th:text="'New to StudenckieKary? '"></p>
                    <a th:href="@{/nav/v1/home}" th:text="'Sign up'"></a>
                  </div>
                  <div>
                    <button type="submit" class="btn btn-primary w-100" th:text="'Sign in'"></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="sign-up" tabindex="-1" aria-labelledby="sign-up" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="sign-up-label" th:text="'Sign up to StudenckieKarty'"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-2">
                <form th:action="@{/nav/v1/signUp}" method="post">
                  <div>
                    <label for="username-sign-up" class="form-label" th:text="'Username'"></label>
                    <input type="text" class="form-control" id="username-sign-up" name="username" th:placeholder="'Username'">
                  </div>
                  <div>
                    <label for="password-sign-up" class="form-label" th:text="'Password'"></label>
                    <input type="text" class="form-control" id="password-sign-up" name="password" th:placeholder="'Password'">
                  </div>
                  <div>
                    <button type="submit" class="btn btn-primary w-100" th:text="'Sign up'"></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </nav>
</body>

</html>